<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exportador DXF</title>
</head>
<body>
    <h1>Exportador de Geometria para DXF</h1>
    <button id="exportBtn">Exportar DXF</button>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script type="module" src="/public/bundle2.js"></script>

</body>
</html>
