/* style.css */
table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

/*NEW*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

button {
    margin-bottom: 10px;
}

#three-scene {
    width: 100%;
    height: 400px;
}

#three-scene canvas {
    width: 100%!important ;
    height: 100%!important;
}

.table {
    margin-bottom: 20px;
}

body {
    background-color: #f8f9fa; /* Cinza claro */
    color: #343a40; /* Cinza escuro */
}
.container-fluid {
    padding: 20px;
}
#grid {
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Arredondar as bordas da tabela */
    overflow: hidden; /* Garantir que o conteúdo interno não ultrapasse as bordas arredondadas */
}
#three-scene {
    width: 100%;
    height: 400px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.btn {
    margin: 10px 0;
}


