<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WFC Example</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
    
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <table id="grid" class="table table-bordered">
                <!-- Populado dinamicamente com JavaScript -->
            </table>
            <button  id="Reset"class="btn btn-primary">Recomeçar</button>
            <button id="Aleatorio"class="btn btn-secondary">Aleatório</button>
        </div>
        <div class="col-md-6">
            <div id="three-scene"></div>
            <button id="Renderizar" class="btn btn-primary">Render 3D</button>
        </div>
    </div>
</div>

<script src="/public/bundle.js"></script>

</body>
</html>


